[Unit]
Description=Cloudlog CAT Control
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
ExecStart=/home/MYUSER/.local/bin/clrigctl
Restart=always
#Environment=RUST_LOG=Debug

[Install]
WantedBy=multi-user.target
