[Unit]
Description=Cloudlog CAT Control

[Service]
RestartSec=2s
Type=simple
ExecStart=/home/MYUSER/.local/bin/clrigctl
Restart=always
#Environment=RUST_LOG=Debug

[Install]
WantedBy=default.target
