[Unit]
Description=Wavelog Rig Control

[Service]
RestartSec=2s
Type=simple
ExecStart=/usr/bin/wlrigctl
Restart=on-failure
#Environment=RUST_LOG=Debug
#Environment=RUST_LOG=Debug RUST_BACKTRACE=full

[Install]
WantedBy=default.target
